.field{
border: 2px solid slateblue;
}

.bat{
    width: 200px;
    height: 200px;
    transition: transform 0.1s;
}

.field:hover .bat{
transform: rotate(-420deg);
transform-origin: top right;
}

.ball{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    left: 250px;
    transition: transform 1s ease-out 0.1s;
}


.field:hover .ball{
    transform: translate(500px, -200px);
}